@import "../style/variable.scss";

.form-container {
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 15px;

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      color: $color-marine-blue;
      font-weight: $font-weight-400;
    }

    input {
      color: $color-marine-blue;
      height: 30px;
      background: $color-white;
      border: 1px solid $color-light-gray;
      border-radius: 3px;
      text-indent: 10px;
    }
  }
}

.stepper {
  position: absolute;
  z-index: 5;
  top: 70px;
  left: 25%;
  display: flex;
  gap: 20px;

  .step {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-white;
    border-radius: 50px;

    width: 40px;
    height: 40px;

    font-weight: $font-weight-700;
  }
}
