@import "../style/variable.scss";

.controller {
  width: 100%;
  height: 100px;
  background: $color-white;
  position: absolute;
  bottom: 0px;

  .btn-container {
    width: 100%;
    height: 100%;
    background: none;

    padding: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.controller-desktop {
  .btn-container {
    width: 100%;
    height: 100%;
    background: none;

    padding: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
